#play{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-insets: 0;
	-fx-padding: 0 0 0 0;
}

#pause{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-insets: 0;
	-fx-padding: 0 0 0 0;
}

#stop{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-insets: 0;
	-fx-padding: 0 0 0 0;
}

#fullscreen{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-insets: 0;
	-fx-padding: 0 0 0 0;
}

#volume{
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-insets: 0;
	-fx-padding: 0 0 0 0;
}

#slider {
	-fx-padding: 8;
}

#slider .track{
	-fx-background-color: rgba(50, 50, 50, 0.4);
}

#slider .thumb{
	-fx-background-color: rgba(235, 235, 235, 1);
}